<div class="page-status {{ include.statusLevel }}">
{% if include.statusLevel == "working-draft" %}

This is a working draft. It is live published as it is written and edited. Nov/Dec 2024.

{% elsif include.statusLevel == "steady-working-draft" %}

This is a working draft. It is live published as it is written and edited.

{% elsif include.statusLevel == "stalled-draft" %}

This is a stalled draft. It is live published as it is written and edited but is stalled and not currently being worked on. If you find it useful please let Nigel know to encourage its further development.

{% elsif include.statusLevel == "working-index" %}

This section of the site is being actively developed. New entries are being worked on. Some are already stable.

{% elsif include.statusLevel == "stable" %}

This information is considered stable. Updates will be made as needed but none are in progress.

{% elsif include.statusLevel == "stable-index" %}

This information is considered stable. Updates will be made as needed but none are in progress. New entries are being worked on.

{% endif %}
</div>