<div class="page-status {{ include.statusLevel }}">
{% if include.statusLevel == "rough-draft" %}

This document is a rough draft. Don't use it. Check back in a day or two. It is live published as it is written and edited. Dec/Jan 2024.

{% elsif include.statusLevel == "working-draft" %}

This document is a working draft. It is live published as it is written and edited. Dec/Jan 2024.

{% elsif include.statusLevel == "stalled-draft" %}

This document is a stalled draft. It is live published as it is written and edited, but is stalled and not generally being worked on. If you find it useful please let Nigel know to encourage its further development. It certainly needs a lot of work.

{% elsif include.statusLevel == "working-index" %}

This section of the site is being actively developed. Entries are being written and edited.

{% elsif include.statusLevel == "stable" %}

This document is considered stable. Updates are   made but what is here is considered enough as it stands to do the title justice.

{% elsif include.statusLevel == "stable-index" %}
<!-- None are currently at this status -->
STABLE INDEX! OMG!

{% elsif include.statusLevel == "open-notes" %}

This document is an open note with freehand details as availsble. It's very much a working document and not being developed in any way.

{% endif %}
</div>