<div class="page-status {{ include.statusLevel }}">
{% if include.statusLevel == "working-draft" %}
This is a working draft. It is live published as it is written and edited. Nov/Dec 2024.
{% elsif include.statusLevel == "stable" %}
This information is considered stable. Updates will be made as needed but none are in progress.
{% elsif include.statusLevel == "stable-index" %}
This information is considered stable. Updates will be made as needed but none are in progress. New entries are being worked on.
{% endif %}
</div>